/* General */ 
@font-face {
  font-family: OpenSans;
  font-weight: 400 800;
  src: url(OpenSans-VariableFont_wdth,wght.ttf); /* Using custom font */
}
* {
  font-family: OpenSans;
  -webkit-print-color-adjust: exact; /* Otherwise Print ignores background colors */
}
html * {
	/* To prevent font-boosting (made font size uneven in some cells) */
	/* https://stackoverflow.com/questions/13430897/how-to-override-font-boosting-in-mobile-chrome */
	max-height:1000000px;
}
body {
  background-color: white;
 }
.fullPage {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Basic */ 
h1 {
 font-weight: 620;
 color:#dca10f;
 margin-bottom: 0.25em;
}
h2 {
 font-weight: 650;
 font-size: 1.15em;
 color:#dca10f;
 margin-top:0em;
 margin-bottom: 0em;
}
p, input {
	font-size:1em;
 }
input {
	margin-left: 0.45em;
}
ul {	
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    padding-inline-start: 1.1em;
}

/* Top */ 
.buttonClass{
	background-color: #dca011;
	transition: background-color 0.2s linear;

	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 0.3em 0.5em;
	margin: 0em 0.6em;
	font-size:1em;
}
.buttonClass:hover {
	background-color: #be8e1d;
	transition: background-color 0.2s linear;
}
.highlightYellow {
	background-color:#f8d98c;
	padding:0.5em;
	margin-bottom: 1em;
}
.topBanana {width:100px; float: right; margin-top:-30px;}

/* Input fields on top (desktop) */ 
.sideBySide, .sideBySideFlex {
	display:table;
	width:100%;
}
.textInputClassStretch {
	width:95%;
}
.sideBySideFixedLeft {
	display:table-cell;
	width: 0%;
	text-align:left;
	height:100%;
}
.sideBySideFixedLeft p {
	margin-bottom:1.25em;
}
.sideBySideExpanding {
	display:table-cell;
}
.sideBySideFixedRight {
	display:table-cell;
	width: 12em;
	text-align:right;
	height:100%;
}

/* Form */ 
/* formWrap tableHeader1 tableHeader2 tableRow tableGroup tableRowIngroup */
/* Form will be max 800px wide */
.formWrap {
	width:800px;
	padding-bottom:1em;
}
.tableMain  {
	border-collapse:collapse;
	border-spacing:0;
	margin:0px auto;
	text-align:left;
	vertical-align:top;
	border-color:inherit;
}
.tableMain td, .tableMain th, .tableMain tr{
	border-color:black;
	border-style:solid;
	border-width:1px; 
	overflow:hidden;
	padding:1em 1.1em;
	word-break:normal; 
	font-size:1em;
}
.tableCell {
	font-size:1em;
}
.tableMain .suggestedAction {
	background:#fbc6c8;
	display:inline-block;
	padding-left:35px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:10px;
}
.tableMain .suggestedAction.hide {
	display: none;
}
.tableMain .suggestedAction:before {
	content: "❗️ ";  
	position:absolute; 
	margin-left:-25px;
}
.tableMain .potentialIssue {
	font-size:1em !important;
}
.tableMain .tableCheck{
	vertical-align:top;
	
	  filter:   hue-rotate(166deg) saturate(70%);
}
.tableMain .tableHeader1{
	background-color:#dca011;
	font-weight: bold;
	color:white; 

	z-index:999;	
	top: 0; /* Needed for sticky header */
}
.tableMain .tableHeader2{
	background:linear-gradient(180deg, #f4c959, #f4c959, #f4c959, #f0c659);
	
	font-weight: bold;
	
	border-width:0em !important;
	
	z-index:998;
	top: 3.2em; /* Needed for sticky header */
}
.tableMain .tableHeader2 a, .scrollLink, .scrollLink2{
	font-size:0.75em;
	font-weight:600;
	text-decoration: none !important;
	color:black;
	opacity:0.5;

	cursor: pointer;	
}
.tableMain .tableHeader2 a{
	position:absolute;
	bottom:1em;
	right:1em;
}
.scrollLink {
	float:right;
}
.tableMain .tableHeader1,.tableMain .tableHeader2 {
	position: sticky;
}
.tableMain .tableGroup{
	background-color:#f8d98c;
}
.tableGroup{
	z-index:998;
	width: 1%;
    white-space: nowrap;
}

/* Bottom */ 
.bottomPart{
	margin-top:1.5em;
}
.textInputClassBig{
	width:100%;
	height:12em;
}
.footer{
	color:darkgrey;
	margin-top:1em;
	font-size:0.8em;
	line-height:1.5em;
}


/* MOBILE (<800px) */ 
@media screen and (max-width: 800px) {

	/* General/Various */
	.formWrap {
		/*overflow-x: auto;  Removed because it makes sticky header not work for mobile (not sure what this does) */
		-webkit-overflow-scrolling: touch;
		margin: auto 0px; 
		width: auto !important;
	}	
	.topPart, .bottomPart {
		margin-right:0.75em;
		margin-left:0.75em;
	}

	/* Top */
	.buttonClass{
		margin: 0.5em 0.5em;
	}
	
	/* Input fields on top (mobile) */ 	
	.sideBySide, .sideBySideFlex {
		display:table;
		width:100%;
	}
	.sideBySideFixedLeft {
		display:table-cell;
 		min-width: 3em ;
		text-align:left;
		height:100%;
	}
	.sideBySideExpanding {
		display:table-cell;
		width:100%;
	}
	.sideBySideFixedRight {
		display:block;
 		width: 100%;
		text-align:left;
		height:100%;
		margin-top:-1em;
	}
	
	/* Table */
	.tableMain {
		width: 100%;
	}
	.tableMain col {
		width: auto !important;
	}

	.tableGroup{
		text-align:center;
        writing-mode: tb-rl;
        transform: rotate(-180deg) ;		
 	}
	
	/* Bottom */
	.textInputClassBig{
		width:98%;
	}
	.footer div{
		display:inline;
	} 
}




