@font-face {
  font-family: OpenSans;
  /* declare weights giving two values to specify a range */
  font-weight: 400 800;
  src: url(OpenSans-VariableFont_wdth,wght.ttf);
}

* {
  font-family: OpenSans;
  -webkit-print-color-adjust: exact; 

}

body {
  background-color: white;
 }
h1 {
 font-weight: 620;
 color:#dca10f;
 margin-bottom:-0.5em;
}
h2 {
 font-weight: 650;
 font-size: 1.15em;
 color:#dca10f;
 margin-bottom:-0.5em;
}
p, input {
	font-size:1em;
 }
input {
	margin-left: 0.45em;
}

ul {
	
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    padding-inline-start: 1.1em;
}
 
.buttonClass{

	background-color: #dca011;
	transition: background-color 0.2s linear;

	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 0.35em 0.5em;
	margin: 0em 0.5em;
	font-size:1em;
  
}
.buttonClass:hover {
	background-color: #be8e1d;
	transition: background-color 0.2s linear;

}


/* table */ 
/* formWrap tableHeader1 tableHeader2 tableRow tableGroup tableRowIngroup */
/* entire form will be max 800px wide */
.fullPage {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tableMain  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tableMain td,th,tr{
	border-color:black;border-style:solid;border-width:1px; overflow:hidden;padding:1em 1.1em;word-break:normal; font-size:1em;
}
.tableMain {text-align:left;vertical-align:top;border-color:inherit;}
.tableCell{
	font-size:1em;
}
.tableMain .suggestedAction.hide {
	display: none;
}
.tableMain .suggestedAction {
	background:#fbc6c8;display:inline-block;padding-left:35px;padding-right:10px;padding-top:10px;padding-bottom:10px;margin-top:10px;
}
.tableMain .suggestedAction:before { content: "❗️ ";  position:absolute; margin-left:-25px;}
.tableMain .tableCheck{vertical-align:top;}
.tableMain .tableHeader1{
	background-color:#dca011;
	font-weight: bold;
	color:white; 
}
.tableMain .tableHeader2{
	background-color:#f4c959;	
	font-weight: bold;
}
.tableMain .tableGroup{background-color:#f8d98c;}
.highlightYellow {
	background-color:#f8d98c;
	padding:0.5em;
}
.formWrap {width:800px; padding-bottom:1em;}
.topBanana {width:100px; float: right; margin-top:-30px;}
.tableGroup{
	width: 1%;
    white-space: nowrap;
}
.footer{
	color:darkgrey;
	margin-top:1em;
	font-size:0.8em;
	line-height:1.5em;
}

.bottomPart{
	margin-top:1.5em;
}

/* Side by side input fields on top (desktop) */ 
.sideBySide, .sideBySideFlex {
	display:table;
	width:100%;
}

.textInputClassStretch {
	width:95%;
}

.textInputClassBig{
	width:100%;
	height:12em;
}

.sideBySideFixedLeft {
	display:table-cell;
	width: 0%;
	text-align:left;
	height:100%;
}

.sideBySideExpanding {
	display:table-cell;
}

.sideBySideFixedRight {
	display:table-cell;
	width: 12em;
	text-align:right;
	height:100%;
}

@media screen and (max-width: 800px) {
	.tableMain {width: 100%;}
	.tableMain col {width: auto !important;}
	.formWrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px; width: auto !important;}
	.topPart, .bottomPart {
		margin:0.75em;
	}
	
	
	.tableMain td,th{
		border-color:pink;
	}	

	.footer div{
		display:inline;
	}
		
	.tableGroup{
		text-align:center;
        writing-mode: tb-rl;
        transform: rotate(-180deg) ;
		
 	}
	
	.buttonClass{

		margin: 0.5em 0.5em;
	  
	}	
	
	.textInputClassBig{
		width:98%;
	}
	
	/* Side by side input fields on top (mobile) */ 
	.sideBySide, .sideBySideFlex {
		display:table;
		width:100%;
	}

	.textInputClassStretch {
	 
	}

	.sideBySideFixedLeft {
		display:table-cell;
 		min-width: 3em ;
		text-align:left;
		height:100%;
	}

	.sideBySideExpanding {
		display:table-cell;
		width:100%;
	}

	.sideBySideFixedRight {
		display:block;
 		width: 100%;
		text-align:left;
		height:100%;
		margin-top:-1em;
	}
	
 
}




